
/**
 * @file
 * Administration menu.
 *
 * Implementation of Sons of Suckerfish Dropdowns.
 *
 * @see www.htmldog.com/articles/suckerfish
 */
html > body div.outerbox {
  font-size: 13px;
  margin-top: 8px;
  padding: 0 5px 5px 0;
  z-index: 9998;
}

#civicrm-menu {
  background: #101010 url(../images/bkg.png) bottom left repeat-x;
  font-size: 9px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  height: inherit;
}

#civicrm-menu-wrapper {
  overflow: hidden;
}

/* All lists */
#civicrm-menu li#crm-qsearch {
  height: 15px;
  margin: 0 5px 0 !important;
  padding: 0;
}

#civicrm-menu #crm-qsearch input {
  background-color: #FFFFFF;
  border: 1px solid black;
  margin: 0;
  padding: 2px 16px 2px 2px;
  font-size: 1.2em;
}

#civicrm-menu {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#civicrm-menu li.menumain {
  background: transparent none;
  border-bottom: none;
  border-right: 1px solid #323232;
  color: #EEE;
  display: block;
  font-weight: normal;
  padding: 4px 8px;
  text-align: left;
  text-decoration: none;
  height: auto !important;
}

#civicrm-menu li.menumain:hover {
  cursor: pointer;
}

#civicrm-menu li.admin-menu-tab a {
  border-right: 1px solid #52565E;
}

#root-menu-div ul.menu-ul li {
  border-right: none;
  font-size: 9px;
}

/* All list items */
#civicrm-menu li {
  background-image: none;
  float: left;
  height: 100%;
  list-style-image: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
#civicrm-menu li.admin-menu-tab {
  background: url(../images/bkg_tab.png) repeat-x left bottom;
  padding-bottom: 1px;
}
#root-menu-div .menu-ul li {
  background: #202020;
  filter: Alpha(opacity=88);
  opacity: 0.88;
  width: 200px; /* Required for Opera */
  padding: 0;
  white-space: normal;
}

#root-menu-div .menu-ul li li {
  filter: Alpha(opacity=100);
  opacity: 1;
}

/* Second-level lists */
/* Note: We must hide sub-lists or scrollbars might appear (display: none is not read by screen readers). */
#root-menu-div ul {
  background: none;
  border: none;
}

/* Second-and-more-level hovering */
#root-menu-div .menu-ul li.expandable {
  background: #45454A url(../images/arrow.png) no-repeat 145px 6px;
}
#root-menu-div .menu-ul li:hover,
#root-menu-div .menu-ul li.iehover {
  background-color: #111;
}
#root-menu-div .menu-ul li:hover a,
#root-menu-div .menu-ul li:hover li:hover a,
#root-menu-div .menu-ul li:hover li:hover li:hover a {
  color: #FFF;
}
#root-menu-div .menu-ul li.expandable:hover a,
#root-menu-div .menu-ul li.expandable:hover li.expandable:hover a {
  border-color: #444;
  color: #EEE;
}
#root-menu-div .menu-ul li.expandable:hover li a,
#root-menu-div .menu-ul li.expandable:hover li.expandable:hover li a {
  border-color: #323232;
}
#root-menu-div .menu-ul li:hover li a,
#root-menu-div .menu-ul li.iehover li a,
#root-menu-div .menu-ul li.iehover li.iehover li a {
  color: #EEE;
}
#root-menu-div .menu-ul li.iehover a,
#root-menu-div .menu-ul li.iehover li.iehover a,
#root-menu-div .menu-ul li.iehover li.iehover li.iehover a {
  color: #FFF;
  width: 90%; /* IE */
}

/* #210615: Mozilla on Mac fix */
html.js fieldset.collapsible div.fieldset-wrapper {
  overflow: visible;
}

/* Hide the menu on print output. */
@media print {
  #civicrm-menu {
    display: none !important;
  }
  body.admin-menu {
    margin-top: 0 !important;
  }
}

/**
 * Tweaks permissions, if enabled.
 */
tr.admin-menu-tweak-permissions-processed {
  cursor: pointer;
  cursor: hand;
}
tr.admin-menu-tweak-permissions-processed td.module {
  border-top: 0;
}
