
/**
 * @file
 * Toolbar style for Administration menu.
 *
 * Important: We cannot re-use toolbar.png from Toolbar module, since we cannot
 * reliably determine the path to it.
 *
 * @todo Separate shortcut functionality into own module/widget.
 */

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
html > body div.outerbox {
  font-size: 13px;
  margin-top: 10px;
  padding: 0 5px 5px 0;
  z-index: 9998;
}

#civicrm-menu {
  font: normal small "Lucida Grande", Verdana, sans-serif;
  position: fixed;
  margin: 0 -20px;
  padding: 0 20px;
  /**-moz-box-shadow: 0 3px 20px #000;
  *-webkit-box-shadow: 0 3px 20px #000;
  *box-shadow: 0 3px 20px #000;
  *filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
  *-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";**/
  right: 0;
  width: auto;
  height: 25px;
}
#civicrm-menu {
  font-size: .846em;
  padding: 5px 10px 0;
  margin: 0;
}

#civicrm-menu {
  color: #fafafa;
}

#civicrm-menu .activetarget {
  background-color: #444;
}

/* Remove border from all lists and actions */
#civicrm-menu li {
  border-left: 0;
  padding: 3px 10px 3px;
}

/**
 * Administration menu.
 */
#civicrm-menu li#crm-qsearch {
  height: 20px;
  margin: 0 5px 0 !important;
  padding: 0 3px 2px 0;
}

#civicrm-menu li#crm-qsearch input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; 
}

#civicrm-menu > li.menumain {
  border-right: 0;
  margin-bottom: 4px;
  padding: 2px 10px 3px;
  margin: 1px 0 0 0 !important;
  height: auto !important;
}
#civicrm-menu li.menumain {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#civicrm-menu li.menumain.active-target {
  text-shadow: #333 0 1px 0;
  background: url(../images/toolbar.png) 0 0 repeat-x;
}
#civicrm-menu li.menumain:hover {
  background-color: #444;
}
#civicrm-menu li.admin-menu-tab {
  border-right: 0;
}
#civicrm-menu li li.expandable ul {
  margin: -22px 0 0 160px;
}

#civicrm-menu #menu-logout {
  border-left: none;
  float: right;
}

#root-menu-div ul.menu-ul li {
  border-right: none;
  font-size: 13px;
}
